
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=28eaea62-1faf-453e-9546-6956b5081194&fontids=5664093,5664150");
    @font-face{
        font-family:"Helvetica Neue LT W05 55 Roman";
        src:url("../fonts/5664093/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url("../font-size/5664093/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica Neue LT W05_75 Bold";
        src:url("../fonts/5664150/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"),url("../fonts/5664150/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
    }
