// main: style.scss

body {

   padding-top: 90px;


   .no-padding {
     padding-left: 1px;
     padding-right: 1px;
     margin-bottom:2px;
   }

   .no-margin {
     margin: 0;
   }

   img {

     &.lazyload {
     opacity: 0;
     -webkit-transition: opacity .2s ease;
     -moz-transition: opacity .2s ease;
     -o-transition: opacity .2s ease;
     transition: opacity .2s ease;
   }

     &.lazyloaded {
       opacity: 1;
     }
   }


}
