// main: ../../style.scss
.single-projects {

  .project-text {


      h2 {
        font-family: "Helvetica Neue LT W05 55 Roman";
        font-size: round(28px * $font-factor) ;
        line-height: round(36px * $font-factor);
        font-weight: normal;
        color: $primary-color;
      }

      ul {
        list-style-type: disc;
        margin-left: 20px;
        padding: 0;

        li {
          margin: 0;
          padding: 0;
        }
      }
    p{




    }
  }

}
