// main: ../../style.scss

.page-template-tmpl-start {

  #posts-sidebar {
    h3 {
      text-transform: uppercase;
      color: #309CD3;
       font-family: 'TradeGothicLTPro-Bold';
       font-size: 16px;
       font-weight: normal;
       margin: 10px 0px 0px 0px;
    }
    ul {
      margin: 0 !important;
      padding: 0px 0px 10px 0px;
      list-style-type: none;
      border-bottom: 1px solid #111;

      li {

        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        a  {
          text-decoration: none !important;
        }

        .post-item-header {
         .post-date {
         font-size: 14px;}
         .post-subheadline-short {

        font-weight: 700;
       font-size: 14px;
       padding-left: 5px;}
        }


      }
    }
    }


}
