// main: ../style.scss
$black: #000000;
$primary-color: #052C57;

//news date
$light-grey: #AFA8A1;

//footer bg
$light-grey2: #EFEEEC;

//bg
$light-blue: #EDF0F3;
//links
$dark-turquois: #54B9A1;
//button hover, spaces
$light-turquois: #DCF6F0;
//button
$turquois: #99E6D4;

//global font factor
$font-factor: 0.6;
$font-factor-s: 0.5;
$font-factor-xs: 0.4;
