// main: ../../style.scss

.grid {
  padding-bottom: 50px;
  @include breakpoint(s) {
    padding-bottom: 20px;
  }
  float: left;
  width: 100%;
  /* fluid 5 columns */
  .grid-item--width1,
  .grid-sizer {
    width: 16.6666666667%;
    @include breakpoint(xs) {
      width: 100%;
    }
  }
  /* 2 columns wide */
  .grid-item--width2 {
    width: 33.3333333334%;
    @include breakpoint(xs) {
      width: 100%;
    }
  }

  .grid-item {
    outline: 1px solid #FFF;
    outline-offset: -1px;

    a {
      color: #000;
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      opacity: 0;
      padding: 0;
      opacity: 0;
      -webkit-transition: opacity 0.1s ease;
      -moz-transition: opacity 0.1s ease;
      -o-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
    }

    .info-wrapper {
      position: absolute;
      bottom: 0;
      height: 33%;
      background: rgba(255, 255, 255, 0.75);
      width: 100%;
      padding-left: 15px;
      opacity: 0;
      transition: 1s;

      .info {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .title {
          font-size: round(24px * $font-factor);
          line-height: round(28px * $font-factor);
          font-family: "Helvetica Neue LT W05_75 Bold";
          font-weight: 700;
          color: $black;
        }

        .subtitle {
          font-size: round(18px * $font-factor);
          line-height: round(25px * $font-factor);
          font-family: "Helvetica Neue LT W05 55 Roman";
          font-weight: 400;
          color: $black;
        }
      }
    }

    &:hover {
      .info-wrapper {
        opacity: 1;
      }
    }
  }
}
