// main: ../../style.scss

.btn-primary {
  width: 174px;
  position: relative;
  background-color: $turquois;
  color: $primary-color !important;
  text-decoration: none !important;
  font-size: round(18px * $font-factor);
  text-align: left;
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  display: inline-block;
  transition: transform 0.2s;

  &:after {
    content: url("../img/btn_arrow.svg");
    position: absolute;
    width: 0;
    height: 0;
    right: 32px;
    top: 5px;
  }

  &:hover {
    background-color: $light-turquois;
    border: none;
    color: $primary-color !important;
    text-decoration: none !important;
    transform: scale(.98);
  }
  &:focus, &:active {
    background-color: $light-turquois !important;;
    border: none !important;;
    color: $primary-color !important;
    text-decoration: none !important;
    //transform: scale(.98);
    outline: 0 !important;
    box-shadow: none !important;

  }
}
