// main: ../../style.scss

footer {

  background: $light-grey2;
  padding: 30px 0px;
  margin-top: 50px;
  color: $primary-color;
  font-size: round(20px * $font-factor);
  line-height: round(28px * $font-factor);

  img  {
    @include breakpoint(s) {
        max-height: 51px;

    }
  }

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;;
      margin-right: 15px;

      @include breakpoint(s) {

        display: block;
      }

    }
  }

}
