// main: ../../style.scss

.navbar {
  background: #FFFFFF !important;
  box-shadow: 0 3px 4px rgba(5, 44, 87, 0.07);
  opacity: 0.9;

  .navbar-light, .navbar-toggler {
    border: none;
    color: $primary-color !important;
    opacity: 1;
    &:focus {
      border: none !important;
      outline: 0 !important;
      color: $primary-color;
    }
  }

  .navbar-brand {
    img {
      max-height: 61px;
      width: auto;

      @include breakpoint(s) {
          max-height: 51px;

      }
    }
  }
  @media (min-width: 992px) {

    .dropdown:hover > .dropdown-menu {
      display: block;
    }
  }

  &.bg-light {
    background: #FFFFFF !important;
  }

  #menu-hauptmenu {
    opacity: 1;
    margin-top: 35px;

    .dropdown-toggle {
      position: relative;



      &:before {
        position: absolute;
        margin-right: 0.255em;
        left: -5px;
        bottom: 5px;
        content: url("../img/arrow_dropdown.svg");
        transform: rotate(180deg);
        transition:   transform 0.2s ease;

        @include breakpoint(s) {
          left: -13px;
          bottom: 5px;

        }
      }

      &.open {

        color: $dark-turquois;

        &:before {
          transform: rotate(0deg);
          filter: invert(63%) sepia(56%) saturate(344%) hue-rotate(115deg) brightness(93%) contrast(88%);


          bottom: 10px;
        }


      }

      &:after {
        display: none;
      }
    }
    font-family: "Helvetica Neue LT W05_75 Bold";
    font-weight: 700;
    font-size: round(23px * $font-factor);

    li {
      margin-left: 30px;

      a {
        color: $primary-color;

        &:hover {
          color: $dark-turquois;
        }
      }

      ul {
        margin-left: -15px;
        border: none !important;
        border-radius: 0 !important;

        li {
          margin-left: 0;

          a {
            font-family: "Helvetica Neue LT W05 55 Roman";
            font-weight: 400;
            font-size: round(23px * $font-factor);

            &:hover {
              background: none !important;
            }
          }
        }
      }
    }
  }
}
