// main: ../../style.scss


section {
  .container {
    position: relative;
    padding-bottom: 5%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

    }

    a {
      color: $dark-turquois;
      text-decoration: underline;

      &:hover {
        color: $turquois;
        text-decoration: none;
      }
    }

    .bg-50-right {
      position: absolute;
      height: 100%;
      max-height: 600px;
      top: 0px;
      width: 53.5%;
      background-color: $light-blue;
      right:-3.5%;

      z-index: -1;
    }

    .bg-50-left {
      position: absolute;
      height: 100%;
      top: 0px;
      width: 53.5%;
      background-color: $light-blue;
      left:-3.5%;

      z-index: -1;

      &.max-h {
        max-height: 600px;
      }
    }

.wrapper {
  position: relative;
  .bg {
    position: absolute;
    height: 133%;
    width: 90%;
    background-color: $light-blue;
    left:-9%;
    top:-20%;
    z-index: -1;

    @include breakpoint(s) {

        top:-25%;
    }

  }

  .bg-right {
    position: absolute;
    height: 117%;
    width: 90%;
    background-color: $light-blue;
    right:-8%;
    top:-10%;
    z-index: -1;
  }


}




}}
