// main: ../../style.scss



body {
  font-family: "Helvetica Neue LT W05 55 Roman";
  font-size: round(28px * $font-factor);
  line-height: round(36px  * $font-factor);





  .h1,
  h1 {
    font-family: "Helvetica Neue LT W05 55 Roman";
    font-size: round(2.813rem * $font-factor);
    line-height: round(52px * $font-factor);
    font-weight: normal;
    color: $primary-color;

    &.white {
      color: #FFF;
    }
  }

  .h2,
  h2 {
    font-family: "Helvetica Neue LT W05 55 Roman";

    //@include fluid-type(28px, 45px, 420px, 1600px);
    font-size: round(3.25rem * $font-factor);
    line-height: round(52px * $font-factor);
    font-weight: normal;
    color: $primary-color;

    @include breakpoint(s) {

      font-size: round(3.25rem * $font-factor-s);
      line-height: round(60px * $font-factor-s);
    }




  }

  .h3,
  h3 {
    font-family: "Helvetica Neue LT W05 55 Roman";
    font-size: round(38px * $font-factor);
    line-height: round(52px * $font-factor);
    text-transform: none;
    margin-bottom: 15px;
    color: $primary-color;
  }

}
