// main: ../../style.scss
.s-img-text-3cols {

  .cols-item {
  
    .info-wrapper {
      position: absolute;
      bottom: 0;
      height:33%;
      background: rgba(255, 255, 255, 0.75);
      width:100%;
      padding-left: 15px;
      opacity: 0;
        transition: 1s;


      .info {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .title {
          font-size: round(24px * $font-factor);
          line-height: round(28px * $font-factor);
          font-family: "Helvetica Neue LT W05_75 Bold";
          font-weight: 700;
          color : $black;


        }
        .subtitle {
          font-size: round(18px * $font-factor);
          line-height: round(25px * $font-factor);
          font-family: "Helvetica Neue LT W05 55 Roman";
          font-weight: 400;
          color : $black;

        }
      }

    }
    &:hover {

      .info-wrapper {
        opacity: 1;
      }

    }
  }





}
