// main: ../../style.scss
.s-timeline{

 background: #EDF0F3;
 padding-top: 20px;

.item {

  float: left;

  position: relative;
  width:250px;

.img-holder {
  height: 180px;
  img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
}


.year  {

  font-size: 45px * $font-factor;
  line-height: 52px * $font-factor;
  color: $primary-color;

}
.desc  {

  font-size: round(28px * $font-factor);
  line-height: round(36px  * $font-factor);
  width: 90%;

}

  .timeline {
    width:100%;
    position: absolute;
    top: 150px;
    border-left: 5px $primary-color solid;
    height: 30px;
  }
  .timeline-bg {
    width:100%;
    position: absolute;
    top: 165px;
    border-top: $primary-color solid;
  ;
  }
}


}
