// main: ../../style.scss
.s-text {

  .section-content {

    h2 {
      font-family: "Helvetica Neue LT W05 55 Roman";
      font-size: round(28px * $font-factor) ;
      line-height: round(36px * $font-factor);
      font-weight: normal;
      color: $primary-color;
    }
    p {
      margin-bottom: 30px;
    }
  }



}
