// main: ../../style.scss
.s-news-list{

  .container {
    padding-bottom: 0;

    .row {
      padding-bottom: 5%;
      &:last-child {
        padding-bottom: 0;
    }
    }
  }

  .posted-on {
    color: $light-grey;
    font-size: round(24px * $font-factor);
  }





}
