// main: ../../style.scss
.s-team{

  .no-margin {
    margin-left: 1px !important;
    margin-right: 1px !important;
  }

  .member {
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom:2px;

    @include breakpoint(xs) {

      padding-left: 15px;
      padding-right: 15px;
    }

    @include breakpoint(s) {

      padding-left: 0px;
      padding-right: 0px;
    }

    img {
      width:100%;
      height:auto;
    }



    .info-wrapper {
      position: absolute;
      bottom: 0;
      height:33%;
      background: rgba(255, 255, 255, 0.75);
      width:100%;
      padding-left: 15px;
      opacity: 0;
        transition: 1s;


      .info {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .title {
          font-size: round(24px * $font-factor);
          line-height: round(28px * $font-factor);
          font-family: "Helvetica Neue LT W05_75 Bold";
          font-weight: 700;
          color : $black;


        }
        .subtitle {
          font-size: round(18px * $font-factor);
          line-height: round(25px * $font-factor);
          font-family: "Helvetica Neue LT W05 55 Roman";
          font-weight: 400;
          color : $black;

        }
      }

    }
    &:hover {

      .info-wrapper {
        opacity: 1;
      }

    }
  }


}
