// main: ../../style.scss
#posts-sidebar {

  h3 {
    text-transform: uppercase;
    color: #309CD3;
     font-family: 'TradeGothicLTPro-Bold';
     font-size: 16px;
     font-weight: normal;
     &:first-child {
       margin-top: 0;
     }
  }
  ul {
    margin: 0;
    margin-left: -20px;
    padding: 0;
    list-style-type: none !important;
    &:last-child {
      border-bottom: none !important;
    }

    li {
      &:before {
        content: '';
      }
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      a  {
        text-decoration: none !important;
      }

      .post-item-header {
       .post-date {
         width:100%;
         display: block;
       }
       .post-subheadline-short {
         padding: 0 !important;
       }
      }


    }
  }
}
